<!--make sure to source devel/setup.bash and rosmake gmapping before running this -->


<launch>
  <!--<arg name="map_name" default="map"/> <!--read in name of map from command line-->

  <!--make sure your scan node from the sensor is named the same as from gmapping and from your code
  remap if necesarry-->

  <!--hokuyo urg sensor-->
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <remap from="scan" to="base_scan"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <remap from="scan" to="base_scan"/>
    <!--make sure your robot frame is the "base_link" parameter of gmapping
    for create_autonomy package it is "base_footprint"-->
    <param name="base_link" value="base_footprint"/>
  </node>

  <!--transform from laser to robot-->
  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster"
    args="0 0 0 0 0 0 base_footprint laser 100"/>

  <!--rviz to visualize map building-->
  <node pkg="rviz" type="rviz" name="rviz"/>

  <!--launch your driver if needed-->
  <include file="$(find ca_driver)/launch/create_2.launch"/>


  <!--if you can run map_server while mapping then leave the line below
  <node pkg="map_server" type="map_saver" name="map_saver" arg="-f $(arg map_name)"/>
NEED TO RUN MAP_SERVER MANUALLY OR USE A BASH FILE!
  -->
</launch>
