<!--make sure to source devel/setup.bash and catkin build before running this -->

<launch>
  <!-- Could not get map_server to launch
  <arg name="map_name" default="map"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_name)"/>
  -->
  <!--launch your driver if needed-->
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <remap from="scan" to="base_scan"/>
  </node>
  <node pkg="ca_driver" type="gui.py" name="Nav_gui"/>
  <node pkg="ca_driver" type="ca_nav_waypoints" name="ca_nav_waypoints"/>
  <include file="$(find ca_driver)/launch/create_2.launch"/>

</launch>
